/HelloWorld/nbproject/private/
/MyLib/nbproject/private/
/MyApp/nbproject/private/
/HelloWorld/build/
/MyLib/build/
/MyLib/dist/
/MyApp/build/
/MyApp/dist/
/HelloWorld/dist/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/library/nbproject/private/
/JavaFXApplication2/nbproject/private/
/ClockAnimation/nbproject/private/
/ClockAnimation/build/
/ClockAnimation/dist/
/BouncingBall/nbproject/private/
/BouncingBall/build/
/BouncingBall/dist/
/Quiz5/nbproject/private/
/Quiz5/build/
/Quiz5/dist/
/HW2/PropertiesManager/nbproject/private/
/HW2/XMLUtilities/nbproject/private/
/HW2/XMLUtilities/dist/
/HW2/XMLUtilities/build/
/HW2/PropertiesManager/dist/
/HW2/PropertiesManager/build/
/Quiz6/nbproject/private/
/Quiz6/dist/
/Quiz6/build/